.postsList {
	margin-top: 30px;
}

.postWrapper {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	background: #555;
}

.post {
	display: flex;
	padding-right: 30px;
}
.postAvatar {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.text {
	margin-top: 1rem;
	margin-left: 15px;
}

.likesCount {
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
}
